{% extends "base.html" %}
{% block content %}

<main>

    <div class="vertical-align-middle center container">
        <div class="card-panel hoverable" id='main-card'>
            <h1 class="animated jackInTheBox header" id='dashbots'>Logviewer</h1>
            <h5 class="header col s12 light grey-text">This site is used to display Modmail log entries for P3NGUIN.
            </h5>
            <br>
            <div class="row center">
                <a href="https://discord.gg/P3NGUIN" class="btn waves-effect my-button">
                    <span 
                        class="iconify" data-icon="simple-icons:discord" data-inline="false">
                    </span>
                    P3NGUIN Discord Server
                </a>
                <a href="https://twitter.com/P3NGUIN" class="btn waves-effect my-button">
                    <span
                    class="iconify" data-icon="akar-icons:twitter-fill" data-inline="false">
                    </span>
                    Twitter
                </a>
                <a href="https://instagram.com/P3NGUIN" class="btn waves-effect my-button">
                    <span class="iconify" data-icon="ant-design:instagram-filled" data-inline="false"></span>
                    Instagram
                </a>
                <a href="https://twitch.tv/P3NGUIN" class="btn waves-effect my-button">
                    <span class="iconify" data-icon="bi:twitch" data-inline="false"></span>
                    Twitch
                </a>
                <br>
            </div>
        </div>
    </div>

</main>

{% endblock %}